# <font color ="blue">"Data processing"</font>

In [1]:
import pandas as pd
import numpy as np
# combining/writing diferent forms of data together (str, float and integer)
row_1 = ['facebook', 0.0, 24673862, 'USD', 3.5]
print(row_1)

# to know the type of data
type(row_1)

['facebook', 0.0, 24673862, 'USD', 3.5]

list

In [2]:
# to know the length of the data
print(len(row_1))

# to retieve an element from a list of data/elements using the index number
print(row_1[0])
print(row_1[1])
print(row_1[2])
print(row_1[3])
print(row_1[4])

# negative indexing
# print(row_1[-2])

5
facebook
0.0
24673862
USD
3.5

In [3]:
# performing calculation 
row_1 = ['facebook', 0.0, 24673862, 'USD', 3.5]
row_2 = ['Instagram', 0.0, 21356785, 'USD', 4.5]

difference = row_2[4] - row_1[4]
Average_rating = (row_1[4] + row_2[4]) / 2

print(difference)
print(Average_rating)

1.0
4.0

In [4]:
# how to use 'for loop'
a_list = [3, 6, 8, 9, 10] 
for value in a_list:
    print(value) 
#     print(value - 1)

3
6
8
9
10

In [4]:
# creating a for loop
b_list = [3, 4, 7]
for values in b_list:
    print(values - 1)

2
3
6

# <font color ="green">"Writing a for loop"</font>

In [ ]:
# for low making summation of numbers in the array
b_list = [2, 5, 7, 10]
b_sum  = 0
for values in b_list:
    b_sum = b_sum + values
    print(b_sum)

In [7]:
# import math
# import time
# % sign give you the reminder after division
a = 1
b = 5
c = 5

d = a % c
print(d)

1

# <font color ="green">"Generating prime numbers between a range of number"</font>

In [ ]:
# to print prime numbers between 2 and 50
primes = []
numbers =list(range(2,50))
while len(numbers) > 0:
    prime = numbers[0]
    primes.append(prime)
    numbers = numbers[1:]
    for x in numbers[:]:
        if (x%prime) == 0:
            numbers.remove(x)
print(primes)

# <font color ="green">file reading</font>

In [46]:
opened_file = open ("./first_reading/pokemon_data.csv")
opened_file

from csv import reader
read_file = reader(opened_file)
read_file
apps_data = list(read_file)

# print(apps_data)

len(apps_data)

801

# <font color ="green"> Data frame</font>

In [54]:
import pandas as pd
df1 = pd.read_csv('modified.csv')
df1.head(15)
# avarage of the type data
# df1.groupby(['Type 1']).mean()

# sorting the values
# df1.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,205

In [36]:
range(1,8)
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [16]:
# range(1,8) means all numbers from 1 till 7

list = range(1, 8)
sum_list = 0
for values in list:
    sum_list = sum_list + values
print(sum_list)

28

# <font color ="green"> for  loop and if statement (using modula operator (%))</font>

In [32]:
# Sum of the numbers divisible by 3 (from 1 t0 24)

list = range(1, 25)
sum_list = 0
for values in list:
    if values % 3 == 0:
        sum_list = sum_list + values
print(sum_list)

# (i.e 3+6+9+12+15+18+21+24 = 108)

108

In [41]:
# sum of the multiple/divisible by 3 and 5  between (1 to 100)

list = range(1, 25)
sum_list = 0
for values in list:
    if values % 3 == 0:
        sum_list = sum_list +values
    if values % 5 == 0:
        sum_list = sum_list +values                      
print(sum_list)

158

In [3]:
# showing how boolean values function
if 1==1:
    print(100)

100

# <font color="green"> "Using append and extraction of data from a file"</font>

In [19]:
app_and_price = (['Facebook', 0], ['Instagram', 0], ['Whatsapp', 2.6], ['Tinder', 356], ['Spotify', 0], ['skype', 246])

free_apps = []
for app in app_and_price:
    name = app[0]
    price = app[1]
    if price == 0:
        free_apps.append(name)
        
print(free_apps)

['Facebook', 'Instagram', 'Spotify']

In [33]:
app_name = 'Global dating'
app_price = 35.7

if app_price < 30:
    print('this app is cheap!')
    
print(app_price < 30)

False

In [45]:
apps_data = (['Call of duty zombies', 4.0], ['Facebook', 0.0], ['Instagram', 0.0], ['Spotify', 0.0])

for apps in apps_data:
    price = apps[1]
    if price == 0.0:
        apps.append('free')
    if price != 0.0:
        apps.append('non free')
        
# short/fast form or writing it       
# else:
# append('non free') 
        
print(apps_data)

(['Call of duty zombies', 4.0, 'non free'], ['Facebook', 0.0, 'free'], ['Instagram', 0.0, 'free'], ['Spotify', 0.0, 'free'])

In [ ]:
content_ratings = ['4+', '9+', '12+', '17+']
numbers = [4433, 987, 1155, 622]
content_rating_numbers = (['4+', '9+', '12+', '17+'], ['4+', '9+', '12+', '17+'])

In [55]:
content_rating ={'4+': 4433, '9+': 987, '12+': 1155, '17+': 622}
print(content_rating)

{'4+': 4433, '9+': 987, '12+': 1155, '17+': 622}

In [57]:
print(content_rating['4+'])
print(content_rating['17+'])

4433
622

# <font color="green"> square of a number</font>

In [64]:
def square(a_number):
    squared_number = a_number * a_number
    return squared_number
    
square_6 = square(a_number = 6)
square_4 = square(a_number = 4)
square_9 = square(a_number = 9)

print(square_6)
print(square_4)
print(square_9)

36
16
81

In [73]:
# Alternative way of writing the square of number
square(a_number =7)
def square(a_number=7):
        squared_number = 7*7
        return squared_number
    
print(square(a_number = 7))

49